* {
    margin: auto;
    padding: 0;
}

body {
    color: grey;
    font-family: 'Prompt', sans-serif;
    /*background: linear-gradient(to right, #44a08d, #093637);*/
}

header {
   height: 100px;
   display: flex; 
   border-color: rgb(212, 212, 212);
   border-width: 1px;
   border-bottom-style: solid;
}

nav {
    display: flex;
    justify-content: flex-end;
}

ul {
    display: flex; 
    justify-content: flex-end;
    
}

li {
    margin: 10px;
    padding-top: 5px;
    flex-direction: row;
    list-style:none;  
}

a {
    text-decoration: none;
    text-decoration-color: grey;
}

.logo {
    width: 100px;
    height: 100px;
}

.main {
    margin-top: 100px;
}

.hero {
    max-width: 800px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.texto1, h1 {
    padding-top: 60px;
    padding-left: 50px;
}

.texto1, p {
    padding-top: 60px;
    padding-left: 50px;
}

.texto1 {
   padding: 30px;
}

.portada {
    margin-top: 50px;
    margin-right: 100px;
    width: 250px;
    height: 250px;
}

.info{
    display: flex;
    max-width: 800px;
    background: linear-gradient(to right, #6190e8, #a7bfe8);
    color: aliceblue;
    justify-content: center;
}

.info p {
    margin: 10px;
    padding: 30px;
}

footer{
    height: 100px;
}

